www.{$TOYSTORE_DOMAIN} {
	redir https://{$TOYSTORE_DOMAIN}{uri} permanent
}

{$TOYSTORE_DOMAIN} {
	encode zstd gzip

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}

	reverse_proxy web:8080
}
